body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.emoji-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.emoji-item {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.emoji {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.name {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
}